<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.numadsp21finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_music"
        android:theme="@style/Theme.Tunify">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            />
        <activity
            android:name=".JamActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Jam"/>
        <activity
            android:name=".JamSessionActivity"
            android:label=""
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Jam"/>
        <activity
            android:name=".CategoryListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Practice" />
        <activity
            android:name=".SongListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Practice" />
        <activity
            android:name=".SongTrackActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Practice"
            android:title="" />
        <activity
            android:name=".UserListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Meet"
            android:title="" />
        <activity
            android:name=".notifications.NotificationListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            android:label="Notifications">
            <intent-filter>
                <action android:name="openNotification"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".UserProfileActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.Meet"
            android:title="" />
        <activity
            android:name=".navigation.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar" />
        <activity
            android:name=".bottomNavigation.FriendsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            android:label="Friends"/>
        <activity
            android:name=".bottomNavigation.FriendProfile"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar" />
        <activity
            android:name=".bottomNavigation.LibraryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            android:label="Library">
        </activity>
        <activity
            android:name=".BlogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            android:label="Blogs">
        </activity>
        <activity android:name=".blogs.BlogDialogActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".FriendsBlogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar">
        </activity>

        <activity
            android:name=".ChatActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar">
            <intent-filter>
                <action android:name="openChat"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchResultActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar"
            >
        </activity>

        <activity
            android:name=".bottomNavigation.FriendsPlaylistActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Tunify.NoActionBar">
            <intent-filter>
                <action android:name="libraryNotification"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NetworkActivity"
            android:excludeFromRecents="true"
            android:label="You are Offline"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".commentview.CommentActivity"
            android:configChanges="orientation|screenSize"
            android:label="Comments"
            android:theme="@style/Theme.Tunify.NoActionBar" />

        <receiver android:name = ".utils.MyBroadcastReceiver">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
                <category android:name="com.android.internetConnectivityAction" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FirebaseInstanceMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>